div.stores {
    color: green;
    text-align: left;
}

div.left {
    text-align: left;
}

div.right {
    text-align: right;
    color: blue;
}

a.button {
    text-align: center;
    --c: springgreen;
    color: var(--c);
    font-size: 16px;
    border: 0.3em solid var(--c);
    border-radius: 0.5em;
    width: 12em;
    height: 3em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 3em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;
    text-decoration: none;
}

h2 {
    text-align: center;
}