/* plantIdentStyle.css
    Author:				Gail Chintalekha
    Date:				04/06/2022
    Last revised:		04/06/2022
    Assignment:			Semester Project
    Purpose:			Plant identification style sheet
*/
/**/
body {
    background-color: #198754;
    font-family: 'Raleway', sans-serif; /*font-family changes the font*/
    margin: 0;                          /*margin:0 eliminates the browser's default margin (8px); */
    width: 100%;                        /*width: 100% spans the display width*/
}

#container {
	max-width: 1200px;          /*Sets max width to 1200px*/
    min-height: 500px;          /*Sets max height to 500px*/
    margin: 0 auto;             /*margin: 0 auto centers the container in its display*/
    padding: 0 10px;            /*padding adds some whitespace*/
    margin-bottom: 75px;        /*Sets margin bottom to 75px*/
    margin: 0 auto;             /*Sets margin to 0*/
}

.img-left {
    display: block;             /*makes image display as a block-level element;*/
    width: 100px;               /*sets its width to 100px*/
    float: left;                /*floats it left*/
    margin-right: 20px;         /*Sets margin right to 20px*/
	
}

.img-right {
	display: block;             /*makes image display as a block-level element*/
    width: 100px;               /*ets its width to 100px*/
    float: right;               /* floats it right*/
    margin-left: 20px;          /*Sets margin left to 20px*/
}

header, nav, footer {
    background-color: rgba(50,50,50,.8);    /*The background will be a dark gray and partially transparent*/
    background-image: url("../assets/img/PlantIdenti/plantIdent1.jpg") ;
    color: #eee;                            /*Font color will be light gray*/
    width: 100%;                              /**/
    margin: 0;                                /*Sets margin to 0*/
    padding: 10px 0px;                        /* Sets padding to 10px 0%*/
}

header {
	height: 95px;               /*Height is set to 95 pixels*/
    text-align: center;         /*text is center-aligned*/
}

#left-pane {
	padding: 10px;          /*Sets padding to 10px*/      
    float:left;             /*makes the container align to the left of its container and causes additional content to wrap*/
    width: 45%;             /*creates a left-aligned column that occupies 35% of the container's width*/
}

#right-pane {
    padding: 10px;          /*Sets padding to 10px*/ 
    float: right;           /*makes the right column, which will align to the right side of the container*/ 
    width: 45%;             /*creates a right-aligned column that occupies 35% of the container's width*/ 
}

nav {
	padding-bottom: 15px;   /*adds a little whitespace to the bottom of the nav bar*/  
}

nav a {
	float: left;            /*The rules make each link in the nav bar float left, essentially stacking them horizontally*/
    display: block;         /*changes the (inline) anchor elements to block-level elements*/
    width: 75px;            /*sets their width*/
    color: #FFF;          /*adds color*/
    padding: 5px 0;         /*adds padding*/
}

nav a:link, nav a:visited {
    margin-right: 5px;          /*Sets margin right to 5px*/
    border-radius: 5px;         /*Sets border radius is 5px*/
    text-align: center;         /*Aligns text in the center*/
    text-decoration: none;      /*No text decoartion*/
    position: relative;         /*Makes postion relative*/
    left: 50px;                 /*Sets left to 50px*/
    top: -25px;                 /*Sets top to -25px*/
    /*These are pseudo-classes that modify the display of the anchor elements in response to the user actions*/
        
}

nav a:hover, nav a:active, .current {
	color: #FFDCAD;                    /*Sets the hover colour to change to orange*/         
    border-bottom: 4px solid #333;     /*Adds a bottom border in black*/
    /*These pseudo classes make the display of the anchor elements change when the user hovers the mouse over or clicks on the links*/
}