
.hero{
  padding-bottom: 10px;
  padding-top: 100px;
  position: relative;
  max-width: fit-content;
  align-content: center;
  display: block;
  margin-left: 20px;
  margin-right: 20px;
  text-size-adjust: 100%;
}
.hero-container{
  display: flex;
  place-content: space-between;
}
.left-col{
  text-align: left;
}
.hero-sub-head{
  flex-direction: row-reverse;
  display: flex;
  background-color: #2c3e50;
  color: #1abc9c;
  -webkit-box-align: center;
  align-items: center;
  box-sizing: border-box;
}
.hero-sub-header{
  text-align: center;
  max-width: 500px;
  line-height: 2.75rem;
  font-size: 2.5rem;
  margin: 20px;
  font-weight: 700;
  box-sizing: border-box;
  display: block;
  text-size-adjust: 100%;
  margin-block-start: .83em;
  margin-block-end: .83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

}

